@font-face {
    font-family: 'Zaghawa Beria';
    src: url('ZaghawaBeria.woff2') format('woff2'),
        url('ZaghawaBeria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

